@model CallInfoControl

<div class="vertical_flow_layout width100perc">
	<div class="call_info_title width100perc">
		@Model.CallInfo.Call
	</div>
	<div class="horizontal_flow_layout text_left">
		<div class="width200px text_right">First name:</div>
		<div class="spacer10px"></div>
		<div>@Model.CallInfo.FirstName</div>
	</div>
</div>