**/.vs/
**/Binaries/
**/Intermediate/
/Releases/*.zip
*.zip
**/FodyWeavers.xsd
**/*.feature.cs
**/*csproj.user
**/*.user
bin
obj
/Sources/.sonarqube/
/Sources/TestResults/Coverlet/
__pycache__
.scannerwork
