@{
	ViewData["Title"] = "U2.Logger";
}

<div class="text-center">
	<div>
		<a href="/logger" target="u2_logger">
			<img src="/Images/Home/logger.png" />
		</a>
		<nobr />
		<a href="/brandmeister" target="u2_bm">
			<img src="/Images/Home/brandmeistermonitor.png" />
		</a>
		<a href="/cis" target="u2_cis">
			<img src="/Images/Home/cis.png" width="250" />
		</a>
		<nobr />
	</div>

</div>
